.jumbotron{
    padding: 70px 0 0 0;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    background: lightgrey;
    color:black;
    text-transform: uppercase;
  }
  .fa-thumbs-up {
    font-size: 50px;
    cursor: pointer;
    user-select: none;
  }
  
  .fa-thumbs-up:hover {
    color: darkblue;
  }
  .fa-thumbs-up::after{
    color: darkblue;
  }
  
  .heading{
    font-weight: bold;
    font-family: 'Times New Roman',Times,sans-serif;
    letter-spacing: 2px;
  
  }
  .footer{
    padding: 50px 0 0 0;
    background-color: #988FFF;
  }

  
  .share-button{
    width: 220px;
    height: 70px;
    background: #dfe6e9;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: .3s linear;
  }
  
  .share-button:hover{
    transform: scale(1.1);
  }
  .share-button span{
    position: absolute;
    width: 100%;height: 100%;
    background: #2d3436;
    color: #f1f1f1;
    text-align: center;
    letter-spacing: 1px;
    line-height: 80px;
    z-index: 999;
    transition: .6s linear;
    border-radius: 40px;
  }
  
  .share-button:hover span{
    transform: translateX(-100%);
    transition-delay: .3s;
  }
  
  .share-button a{
    flex: 1;
    font-size: 20px;
    color: #2d3436;
    text-align: center;
    transform: translateX(-100%);
    opacity: 0;
    transition: .3s linear;
  }
  .share-button:hover a{
    opacity: 1;
    transform: translateX(0);
  }
  .share-button a:nth-of-type(1){
    transition-delay: 1s;
  }
  .share-button a:nth-of-type(1){
    transition-delay: .8s;
  }
  .share-button a:nth-of-type(1){
    transition-delay: .6s;
  }
  .share-button a:nth-of-type(4){
    transition-delay: .4s;
  }
  

  .cent ul{
    list-style: none;
    position: relative;
    display: inline-block;
  }